{{- define "variables" -}}
{{- .Store.Set "hasForm" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- .Store.Set "webpageType" "ContactPage" -}}
{{- end -}}
{{- define "main" -}}
{{ partial "hero.html" . }}
<div class="[ grid lg:col--2 col-gap--4 layout--spacing section--padding lg:py--0 ]">
  <div class="[ lg:py--5 ]">
    <div class="[ grid row-gap--1 ]">
      {{with .Params.intro }}
      <section aria-labelledby="intro-heading">
          <h2 id="intro-heading">{{ .heading }}</h2>
          <p>{{ .text }}</p>
      </section>
      {{ end }}
      <section class="contact-details" aria-labelledby="contact-title">
        <h2 id="contact-title" class="[ font--3 ]">Contact Details</h2>
      
        <p class="eyebrow">
          Our Office — <strong>Nassau, Bahamas Web Design &amp; Marketing</strong>
        </p>
      
        <address>
          <p>Nassau, Bahamas</p>
          <dl class="contact-list">
            <div class="[ contact-list__row ][ flex col-gap--0.5 ]">
              <dt class="[ font--700 ]">Phone:</dt>
              <dd>
                <template obscure="obscure" data-p1="+1" data-p2="242" data-p3="376" data-p4="3340">
                  <a href="tel:%1%2%3%4" aria-label="Call Clever Marketing at (%2) %3-%4">(%2) %3-%4</a>
                </template>
              </dd>
            </div>
            <div class="[ contact-list__row ][ flex col-gap--0.5 ]">
              <dt class="[ font--700 ]">Email:</dt>
              <dd>
                <template obscure="obscure" data-p1="lets" data-p2="getclever.marketing" aria-label="Email Clever Marketing at %1@%2"><a href="mailto:%1@%2">%1@%2</a></template>
              </dd>
            </div>
          </dl>
        </address>
      </section>
      <section class="business-hours" aria-labelledby="hours-title">
        <h3 id="hours-title">Business Hours</h3>
        <dl>
          <div>
            <dt>Monday – Friday</dt>
            <dd>9:00 am – 5:00 pm (EST)</dd>
          </div>
        </dl>
      </section>
      <p class="follow-note">
        Want to stay connected? <a href="#site-footer">Follow us on social media</a>.
      </p>
      
    </div>
  </div>
  <form id="contact" name="contact" class="[ form form--contact ][ bg:white pt--5 pb--2 px--1 r--10 ]" action="/thank-you/" method="POST" data-netlify="true" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-validate>
    <input type="hidden" name="form-name" value="contact" />
    <div class="hidden">
      <label>
        Don't fill this out if you're human: <input name="bot-field" />
      </label>
    </div>
    <div class="[ grid row-gap--1 ]">
      <div class="[ grid md:col--2 gap--1 ]">   
        <div>
          <div class="[ form__field ][ grid row-gap--0.5 ]">
            <label class="[ form__label ][ font--500 font--600 ]" for="first_name">First Name<abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr>
            </label>
            <input class="[ form__input ][ p--0.5 ]" name="first_name" id="first_name" type="text" placeholder="i.e. John/Jane" required=""/>
          </div>
        </div>
        <div>
          <div class="[ form__field ][ grid row-gap--0.5 ]">
            <label class="[ form__label ][ font--500 font--600 ]" for="last_name">Last Name</label>
            <input class="[ form__input ][ p--0.5 ]" name="last_name" id="last_name" type="text" placeholder="i.e. Doe"/>
          </div>
        </div>
      </div>
      <div class="[ form__field ][ grid row-gap--0.5 ]">
        <label class="[ form__label ][ font--500 font--600 ]" for="business">Business
        </label>
        <input class="[ form__input ][ p--0.5 ]" name="business" id="business" type="text" placeholder="i.e. My Business Name"/>
      </div>
      <div class="[ grid md:col--2 gap--1 ]">
        <div>
          <div class="[ form__field ][ grid row-gap--0.5 ]">
            <label class="[ form__label ][ font--500 font--600 ]" for="email">Email<abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr>
            </label>
            <input class="[ form__input ][ p--0.5 ]" name="email" id="email" type="email" placeholder="i.e. your@email.com" required=""/>
          </div>
        </div>
        <div>
          <div class="[ form__field ][ grid row-gap--0.5 ]">
            <label class="[ form__label ][ font--500 font--600 ]" for="phone">Phone
            </label>
            <input class="[ form__input ][ p--0.5 ]" name="phone" id="phone" type="tel" placeholder="i.e. (242) 376-3340"/>
          </div>
        </div>
      </div>
      <div class="[ form__field ][ grid row-gap--0.5 ]">
        <label class="[ form__label ][ font--500 font--600 ]" for="message">Message<abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr>
        </label>
        <textarea class="[ form__message ][ p--0.5 ]" name="message" id="message" placeholder="Tell us how we can help..." required=""></textarea>
      </div>
      <div class="[ notice ][ grid row-gap--1 ]">
        <label class="[ flex col-gap--0.5 ]" for="newsletter">
        <span>
          <input id="newsletter" type="checkbox" name="newsletter">
        </span>
        <span>Please send me marketing tips by adding me to your email newsletter.</span>
      </label>
      <small class="[ block blue-grey--600 ]">By submitting this form, you consent to receive marketing and promotional emails from Clever Marketing, Ltd. Email frequency may vary. You may unsubscribe at any time by clicking the "Unsubscribe" link in our emails. Your information will be handled in accordance with our  <a href="/privacy-policy">Privacy Policy.</a></small>
      </div>
      <!-- Hidden field to identify the site-->
      <input id="site" type="hidden" name="site" value="{{ .Permalink }}">
      <div data-netlify-recaptcha="true"></div>
      <div class="[ flex end ]">
        <button class="[ btn btn--lg btn--primary ]">Send</button>
      </div>
    </div>
  </form>
</div>
{{ end }}