{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- .Store.Set "webpageType" "CollectionPage" -}}
{{- end -}}
{{- define "main" -}}
  {{ partial "hero.html" . }}
  {{ partial "services.html" . }}
  {{ with .Params.why_work_with_us }}
  <section class="[ full-width content-grid grid layout--spacing section--padding bg:blue--50 ]" aria-labelledby="why-heading">
    <div class="[ grid center ]">
      <h2 id="why-heading" class="[ grid center text--center ]">
        <span class="[ key ][ font--5 upper ]">{{ .headline }}</span>
        <span>{{ .title }}</span>
      </h2>
      <p class="[ text--center font--4 ch--35 ]">{{ .intro }} </p>
    </div>
    <ul class="[ grid lg:col--3 gap--2 ]">
      {{ range .items }}
      <li class="[ feature ][ grid row-gap--0.5 ]">
        <div class="[ feature__heading ][ flex middle col-gap--0.5 ]">
          {{ with $.Resources.GetMatch .icon }}
          <div class="[ icon ]">
            {{ .Content | safeHTML }}
          </div>
          {{ end }}
          <h3 class="[ pb--0 ]">{{ .title }}</h3>
        </div>
        <p>{{ .description }}</p>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
  <section class="[ full-width content-grid layout--spacing section--padding ]" aria-labelledby="portfolio-heading">
    <div class="[ lg:flex between ]">
      <div>
        <h2 id="portfolio-heading" class="[ grid row-gap--0.5 ]">
          <span class="[ key ][ font--5 upper ]">Recent Work</span>
          <span>From Our Portfolio</span>
        </h2>
        <p class="[ font--4 ch--35 ]">See how we've helped Bahamian businesses with modern, results-driven websites.</p>      
      </div>
      <div>
        {{ partial "buttons/ghost.html" (dict "url" "/portfolio" "text" "See Our Work")}}
      </div>
    </div>
    {{ with site.GetPage "section" "portfolio" }}
      {{ $items := first 3 (.Pages.ByWeight) }}
      {{ partial "projects.html" (dict "pages" $items) }}
    {{ end }}
  </section>
  {{ partial "reviews/reviews.html" . }}
  {{ partial "faqs.html" . }}
  {{ partial "cta.html" . }}
{{ end }}