{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
  {{ partial "hero.html" . }}

  {{ with .Params.intro }}
  <section class="[ section--padding ]" aria-labelledby="intro-heading">
    <div class="[ grid middle lg:col--2 col-gap--4 row-gap--2 ]">
      <div class="[ o--2 lg:o--1 ]">
        <h2 id="intro-heading">{{ .heading }}</h2>
        {{ .text | markdownify }}
      </div>
      <div class="[ o--1 lg:o--2 ]">
        {{/* 
          <figure class="[ ratio--1:1 ]">
            <picture class="[ bg ][ r--10 ]">
              <style>picture {background-image: url('https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview');}</style>
              <img data-twic-src="image:home/website-design-satisfied-customer-clever-marketing.jpg" data-twic-focus="auto" alt=""/>
              <noscript><img class="[ script ]" src="https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview"/></noscript>
            </picture>
          </figure>  
        */}}
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.get }}
  <section class="[ get ][ relative ]" aria-labelledby="get-heading">
    <div class="[ grid lg:col--2 col-gap--4 row-gap--2 section--padding ]">

      <div>
        <h2 id="get-heading">What You Get</h2>
        <p class="[ ch--35 ]">{{ .tagline }}</p>
      </div>

      <ul class="[ benefits ][ grid gap--1 ]">
        {{ range .items }}
        <li>
          {{ with $.Page.Resources.GetMatch .icon }}
          <span class="icon" aria-hidden="true">
            {{ .Content | safeHTML }}
          </span>
        {{ end }}
          <p>
            <strong>{{ .title }}</strong>
            <br>{{ .description }}
          </p>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
  {{ with .Params.why}}
  <section aria-labelledby="why-heading" class="[ section--padding ]">
    <div class="[ grid middle lg:col--2 lg:col-gap--4 col-gap--2 row-gap--2 ]">
      <div class="[ o--2 lg:o--1 ]">
        <h2 id="why-heading">Why It Matters</h2>
        {{ .text | markdownify }}
      </div>
      <div class="[ o--1 lg:o--2 ]">
        <figure class="[ ratio--1:1 ]" data-script>
          <picture id="why-3432" class="[ bg ][ r--10 ]">
            <img data-twic-src="image:home/website-design-satisfied-customer-clever-marketing.jpg" data-twic-focus="auto" alt=""  width="1000" height="1000"/>
          </picture>
        </figure>
        <style>#why-3432 {background-image: url('https://{{ $.Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview');}</style>
        <noscript>
          <figure class="[ ratio--1:1 ]">
            <picture id="why-noscript-3432"  class="[ bg ][ r--10 ]">
              <img src="https://{{ $.Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg/cover=1:1" alt="" width="1000" height="1000"/>
            </picture>
          </figure>
          <style>#why-noscript-3432 {background-image: url('https://{{ $.Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/cover=1:1/output=preview')}#why-noscript-3432>img{opacity:1}</style>
        </noscript>
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.process }}
  <section class="[ full-width content-grid bg:blue--50 layout--spacing section--padding ]">
    {{ with .subhead }}
    <h2 id="services-heading" class="[ flex flex--column center ]">
      <span class="[ font--5 text--center upper clever--blue ]">Expert Help, Time Saved</span>
      <span class="[ text--center ]">From Idea to Online — Without the Stress</span>
    </h2>
    {{end}}

    <ul class="[ steps ][ grid md:col--2 lg:col--4 col-gap--1 row-gap--2 ]">
      {{ range $i, $_ := .items }}
      {{ $count := printf "0%d" (add $i 1)}}
      <li class="[ step ][ p--1 r--15 ]">
        <h3 data-list-number="{{ $count }}">{{ .title }}</h3>
        <p class="[ pb--0 ]">{{ .description }}</p>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
  {{partial "faqs.html" . }}

  {{ partial "cta.html" . }}
{{ end }}

