{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
  {{ partial "hero.html" . }}

  {{ with .Params.intro }}
  <section class="[ section--padding ]" aria-labelledby="intro-heading">
    <div class="[ grid middle lg:col--2 col-gap--4 row-gap--2 ]">
      <div class="[ o--2 lg:o--1 ]">
        <h2 id="intro-heading">{{ .heading }}</h2>
        {{ .text | markdownify }}
      </div>
      <div class="[ o--1 lg:o--2 ]">
        {{partial "image.html" (dict "image" .image "ratio" "1:1" "page" $)}}
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.get }}
  <section class="[ get ][ relative ]" aria-labelledby="get-heading">
    <div class="[ grid lg:col--2 col-gap--4 row-gap--2 section--padding ]">

      <div>
        <h2 id="get-heading">What You Get</h2>
        <p class="[ ch--35 ]">{{ .tagline }}</p>
      </div>

      <div>
        <ul class="[ grid gap--1 ]">
          {{ range .items }}
          <li class="[ attribute ]">
            <strong>{{ .title }}</strong>
            <br>
            {{ .description }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.why}}
  <section aria-labelledby="why-heading" class="[ section--padding ]">
    <div class="[ grid middle lg:col--2 lg:col-gap--4 col-gap--2 row-gap--2 ]">
      <div class="[ o--2 lg:o--1 ]">
        <h2 id="why-heading">Why It Matters</h2>
        {{ .text | markdownify }}
      </div>
      <div class="[ o--1 lg:o--2 ]">
        {{partial "image.html" (dict "image" .image "ratio" "1:1" "page" $)}}
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.process }}
  <section class="[ full-width content-grid bg:blue--50 layout--spacing section--padding ]">
    <div class="[ grid center text--center ]">
      <h2 id="services-heading" class="[ grid ]">
        <span class="[ font--5 upper clever--blue ]">{{ .key }}</span>
        <span>{{ .headline }}</span>
      </h2>
      <p class="[ font--4 ch--35 pb--0.5 ]">{{ .subhead }}</p>
    </div>

    <ul class="[ steps ][ grid md:col--2 lg:col--4 col-gap--1 row-gap--2 ]">
      {{ range $i, $_ := .items }}
      {{ $count := printf "0%d" (add $i 1)}}
      {{ $count := add $i 1}}
      <li class="[ step ][ p--1 r--15 ]">
        <h3 data-list-number="{{ $count }}">{{ .title }}</h3>
        <p class="[ pb--0 ]">{{ .description }}</p>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
  {{partial "faqs.html" . }}

  {{ partial "cta.html" . }}
{{ end }}

