{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
<section class="[ grid layout--spacing section--padding ]">
  <header>
    <h1>{{ .Title }}</h1>
    {{/* layouts/portfolio_deliverables/taxonomy.html */}}
    {{- $crumbs := slice -}}
    {{ with site.GetPage "section" "portfolio" }}             {{ $crumbs = $crumbs | append . }}{{ end }}
    {{ with site.GetPage "taxonomy" "portfolio_deliverables" }}{{ $crumbs = $crumbs | append . }}{{ end }}
    
    {{ partial "breadcrumbs.html" (dict "page" . "ancestors" .Ancestors) }}
    
    <p>See more of the work in {{ .Title }}.</p>
  
  </header>
  {{ partial "projects.html" (dict "pages" (sort .Pages "Weight" "asc")) }}

</section>
{{ end }}