<figure class="[ blockquote ][ mb--1.5 r--10 ]">
  <div>
    <div class="[ quote ][ mb--1 ]">
      {{ readFile "static/icons/quote.svg" | safeHTML }}
    </div>  
    <blockquote class="[ font--4 ]" {{ with .Attributes.cite }} cite="{{ . }}"{{ end }}>
      {{ .Text }}
    </blockquote>

    
    {{- if .Attributes.author -}}
    <p class="[ citation ]">
      {{ with .Attributes.author }}{{ . }}{{ end }}
      {{- with .Attributes.source -}},
      <cite>{{ . }}</cite>
      {{- end -}}
    </p>
    {{- end -}}
  </div>
</figure>