{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
  {{ partial "hero.html" . }}
  <div class="[ grid row-gap--3 section--padding ]">
    {{/* 
      <ul class="[ flex--wrap col-gap--1 row-gap--0.25 ]">
        <li>
          <a class="[ btn btn--lg btn--ghost ]" href="#"><span class="[ btn__text ][ flex center middle col-gap--0.25 ]"><span>All</span></span>
        </a>
        </li>
        <li>
          <a class="[ btn btn--lg btn--ghost ]" href="#"><span class="[ btn__text ][ flex center middle col-gap--0.25 ]"><span>Business</span></span></a>
        </li>
        <li>
          {{ partial "buttons/ghost.html" (dict "url" "#" "text" "Charity/Non-Profit") }}
        </li>
      </ul>
    */}}
    {{ partial "projects.html" (dict "pages" (sort .Pages "Weight" "asc")) }}
    {{ partial "pagination.html" . }}
  </div>
  <section class="[ countries ][ full-width content-grid layout--spacing section--padding bg:blue--50 ]">
    <h2 class="[ grid center text--center ]">
      <span class="[ key ][ font--5 text--center upper ]">Bahamian Roots, Worldwide Reach</span>
      <span>We Help Clients Around The World</span></h2>
    <div>
      {{partial "chyron.html" (dict "pages" .Pages )}}
    </div>
  </section>
{{ end }}