{{- define "variables" -}}
{{- .Store.Set "isPost" true -}}
{{- .Store.Set "noPadding" true -}}
{{- end -}}
{{- define "main" -}}
<article class="[ post-single h-entry ][ grid layout--spacing section--padding ]">
  <header class="[ post-single__header ][ x--800 ]">
    <div class="[ pb--1 ]">
      {{ partial "breadcrumbs.html" . }}
      <h1 class="[ pb--0 ]">{{ .Title }}</h1>
    </div>
    {{- $format := "January 2, 2006" -}}
    {{- $iso := "2006-01-02T15:04:05Z07:00" -}}
    {{- $timeFormat := "3:04pm" -}}
    
    {{- $published := .Date -}}
    {{- $lastModified := .Lastmod | default .Date -}}
    {{- $hourDiff := div (sub $lastModified.Unix $published.Unix) 3600 -}}
    <p class="[ meta{{ if .Params.feature.image }} meta--spaced{{ end }} ][ font--small ]">
        {{- $cat := "" -}}
        {{- with .Params.categories }}{{ $cat = index . 0 }}{{ end -}}
        {{- with $cat -}}
          {{- $catPage := site.GetPage (printf "/categories/%s" (urlize .)) -}}
          <a class="badge badge--category" href="{{ cond $catPage $catPage.RelPermalink "#" }}">{{ . }}</a>
        {{- end -}}

        <time datetime="{{ $published.Format $iso }}">
          {{ $published.Format $format }}
        </time>
      | {{ .ReadingTime }} min read
    </p>
    {{ with .Params.feature }}
    {{ partial "feature/image.html" (dict "page" $ "image" .) }}
    {{ end }}
  </header>
  <div class="[ longform x--800 ]">
    {{ .Content }}
  </div>
  <footer>
    {{- if gt $hourDiff 1 -}}
    <div class="[ original-publish-date ]"> 
      <p class="[ font--small ]">Last Updated: 
        <time datetime="{{ $lastModified.Format $iso }}">{{ $lastModified.Format $format }} at {{ $lastModified.Format $timeFormat }}</time>
      </p>
    </div>
    {{ end }}
    {{- partial "footnotes.html" . -}}
    {{- with .Site.Home.Params.avatar -}}
    {{- $image := (printf "/uploads/%s" .image) -}}
    <section class="[ bio ]">
      <div>
        <figure class="[ profile__avatar ]">
          <picture id="avatar" class="[ bg ]">
            <style>#avatar {background-image: url('https://{{ $.Site.Params.twic }}.twic.pics{{ $image }}?twic=v1/output=preview');}</style>
            <img data-twic-src="image:{{ $image }}" data-twic-focus="auto" alt="Joseph Pinder" width="90" height="90"/>
            <noscript><img class="[ script ]" src="https://{{ $.Site.Params.twic }}.twic.pics{{ $image }}?twic=v1/output=preview" alt="Joseph Pinder" width="90" height="90"/></noscript>
          </picture>
        </figure>
      </div>
      <div>
        <h2 class="[ flex middle ]">About The Author</h2>
        <p>{{ .snippet }}</p>
      </div>
    </section>
    {{- end -}}
    {{- $format := "January 2, 2006" -}}
    {{- $iso    := "2006-01-02T15:04:05Z07:00" -}}
    
    {{- $format := "January 2, 2006" -}}  {{/* if you still need these elsewhere */}}
    {{- $iso    := "2006-01-02T15:04:05Z07:00" -}}
    
    {{- $current := .Permalink -}}
    {{- $all     := where site.RegularPages "Section" "insights" -}}
    {{- $others  := where $all "Permalink" "ne" $current -}}
    {{- $items   := first 2 (sort $others "Date" "desc") -}}  {{/* or: first 2 (shuffle $others) */}}
    
    {{- if ge (len $items) 2 -}}
    <section aria-labelledby="related-heading">
      <h2 id="related-heading" class="[ tag-header ]">Related Posts</h2>
      {{ partial "insights/loop.html" (dict "pages" $items) }}
    </section>
    {{- end -}}
    
    
  </footer>
</article>
{{- end -}}
