{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
  {{ partial "hero.html" . }}
  {{/* 
    {{ partial "chyron.html" (dict "pages" (where .Site.RegularPages "Section" "portfolio")) }}
  */}}
  {{ with .Params.snapshot }}
  <section class="[ full-width content-grid bg:blue--50 ]" aria-labelledby="snapshot-heading">
    <div class="[ grid middle lg:col--2 lg:col-gap--4 col-gap--2 row-gap--2 section--padding ]">
        <div class="[ o--2 ]">
          <h2 id="snapshot-heading">{{ .heading | safeHTML }}</h2>
            <p>{{ .text }}</p>
            <ul class="[ benefits ][ mb--1 ]">
              {{ range .benefits }}
              <li class="[ benefit ][ flex col-gap--0.5 ]">
                <span class="[ icon ][ pt--0.35 ]">{{ readFile "static/icons/circle-check.svg" | safeHTML }}</span>
                <span>{{ .text | markdownify}}</span>
              </li>
              {{end }}
            </ul>
            <p><strong>Stop missing out on customers</strong> — get a website that works for you.</p>
          <div class="[ flex flex--column lg:flex--row col-gap--1 row-gap--0.5 ]">
            {{ partial "buttons/ghost.html" (dict "url" "/about-us" "text" "More About Us")}}
            {{ partial "buttons/primary.html" (dict "url" "/contact-us/" "text" "Get Your Quote")}}
          </div>
      </div>
      <div class="[ o--1 ]">
        {{partial "image.html" (dict "image" .image "ratio" "1:1" "helper" "r--10" "page" $)}}
      </div>
    </div>
</section>
  {{ end }}
  {{ partial "services.html" . }}
  <section class="[ full-width content-grid layout--spacing section--padding bg:blue--50" aria-labelledby="portfolio-heading">
    <div class="[ lg:flex between ]">
      <div>
        <h2 id="portfolio-heading" class="[ grid row-gap--0.5 ]">
          <span class="[ key ][ font--5 upper clever--blue ]">Recent Work</span>
          <span>From Our Portfolio</span>
        </h2>
        <p class="[ font--4 ch--35 ]">See how we've helped Bahamian businesses with modern, results-driven websites.</p>
      </div>
      <div>
        {{ partial "buttons/ghost.html" (dict "url" "/portfolio" "text" "See Our Work")}}
      </div>
    </div>
    {{ with site.GetPage "section" "portfolio" }}
      {{ $items := first 3 (.Pages.ByWeight) }}
      {{ partial "projects.html" (dict "pages" $items ) }}
    {{ end }}
  </section>
  {{ with .Params.features }}
  <section class="[ features ]" aria-labelledby="features-heading">
    <div class="[ grid section--padding layout--spacing ]">
      <div class="[ grid center text--center ]">
        <h2 id="features-heading" class="[ grid row-gap--0.5 ]">
          <span class="[ key ][ font--5 upper ]">{{ .key }}</span>
          <span>{{ .headline }}</span>
        </h2>
        <p class="[ font--4 ch--35 ]">{{ .subhead }}</p>
      </div>
      <ul class="[ grid md:col--2 lg:col--3 gap--2 ]">
        {{ range .items }}
        <li class="[ feature ][ grid row-gap--0.5 ]">
          <div class="[ feature__heading ][ flex middle col-gap--0.5 pb--0 ]">
            {{ with $.Resources.GetMatch .icon }}
            <div class="[ icon ]">
              {{ .Content | safeHTML }}
            </div>
            {{ end }}
            <h3 class="[ pb--0 ]">{{ .title }}</h3>
          </div>
          <p>{{ .description }}</p>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
  {{ partial "reviews/reviews.html" . }}
  {{ partial "faqs.html" . }}
  {{ partial "cta.html" . }}
{{- end -}}


{{/* 
  <section class="[ full-width content-grid bg:blue--50 section--padding layout--spacing ]" aria-labelledby="insights-heading">
    <div class="[ lg:flex between middle ]">
      <div>
        <h2 id="insights-heading" class="[ font--5 upper clever--blue ]">Insights</h2>
        <h3 class="[ font--2 ]">Tips &amp; Tricks To Help Your Business Grow</h3>
        <p class="[ ch--35 ]"> Practical tips and expert advice to help you grow your online presence.</p>
      </div>
      <div><a class="[ btn btn--lg btn--ghost ][ clever--blue hvr:white ]" href="/insights"><span class="[ btn__text ][ flex center middle col-gap--0.25 ]"><span>Get More Insights</span><span class="[ relative ]">
               <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 139.4 119.2"><path d="M105.1 69.3H10.3C3.4 69-.4 65.4-.4 59.3c.1-5.9 3.8-9.4 10.4-9.8 1.3-.1 2.7 0 4 0H105.6c-1.9-2-3-3.3-4.2-4.5-9.1-9.3-18.4-18.5-27.7-27.6-3.3-3.2-5-7.3-3.1-11.3 1.3-2.7 4.6-5.6 7.5-6.2 2.7-.6 6.9.8 9 2.9 16.6 16.1 32.9 32.5 49.1 48.9 4.8 4.8 4.7 10.7-.2 15.6-16 16.2-32.1 32.3-48.3 48.3-4.9 4.9-11.2 5.1-15.2.9-3.8-4-3.3-10.4 1.4-15.2 10.2-10.6 20.4-20.9 31.2-32z"/></svg></span></span></a>
      </div>
    </div>
  </section>  
*/}}