<section class="[ full-width content-grid section--padding bg:blue--50 ]">

  <div class="[ flex between ]">
    <div class="[ ch--60 ]">
      <h2 class="[ merriweather ]">Ready to get started with your next web design project?</h2>
      {{/* 
        <p>Let's build a website that works for your business — fast, secure, and designed to bring you more customers.</p>
      */}}
    </div>
    <div>
      {{ partial "buttons/primary.html" (dict "url" "/contact-us/" "text" "Get Your Quote")}}
    </div>
  </div>

</section>