<section class="[ section--padding ]" arialabelledby="faq-heading">
  <div class="[ wrapper ][ grid lg:col--2 col-gap--4 row-gap--2 ]">
    <div>
      <h2 id="faq-heading" class="[ grid row-gap--0.5 ]">
        <span class="[ key ][ font--5 upper ]">{{ .Title }}</span>
        <span>Frequently Asked Questions</span>
      </h2>
      <p class="[ lg:ch--35 ]">Got questions about our web design services in The Bahamas? We're here to help your business grow online.</p>
      <p>Don't see your question?</p>
      {{partial "buttons/primary.html" (dict "url" "/contact-us/" "text" "Ask a Question")}}
    </div>
    <div class="[ grid gap--2 ]">
      {{ range .Params.faqs.items }}
      <details class="[ faq ]" name="faqs">
        <summary class="[ question ][ flex between middle font--600 pb--1 ]">
          <span>{{ .question }} </span>
          <span class="marker">{{ readFile "static/icons/chevron-right.svg" | safeHTML }}</span>
        </summary>
        <div class="[ answer ][ pb--2 ]">{{ .answer }}</div>
      </details>
      {{ end }}
      {{/*  <figure class="[ ratio--1:1 o--1 ]">
        <picture class="[ bg ][ r--10 ]">
          <style>picture {background-image: url('https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview');}</style>
          <img data-twic-src="image:home/website-design-satisfied-customer-clever-marketing.jpg" data-twic-focus="auto" alt=""/>
          <noscript><img class="[ script ]" src="https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview"/></noscript>
        </picture>
      </figure>  */}}
    </div>
  </div>
</section>