<header class="[ navbar ][ full-width content-grid ]" id="navbar">
  <div class="[ wrapper ][ flex between middle col-gap--2 relative ]">
    <div class="[ backdrop ]"></div>
    <a class="[ logo ][ flex middle blue--900 ]" href="/" title="Home" aria-label="Home">
      {{- readFile "static/icons/logo.svg" | safeHTML }}
    </a>
    <label class="[ navicon ][ flex middle relative ]" id="navicon" for="click">
      <input class="[ hidden ]" id="click" type="checkbox" aria-label="Menu"><b class="[ bar ][ block ]"></b>
    </label>
    <nav class="[ navigation--main ][ none lg:flex lg:middle ]">
      <ul class="[ menu menu--main ][ col-gap--2 ]">
      {{- $context := .context -}}
      {{- $currentPage := .currentPage -}}
      {{with $context}}
        {{ range .Site.Menus.main }}
        <li class="[ menu__item ][ font--600 relative no-wrap  ]">
            <a class="[ menu__link ][ flex--col center ]{{ if eq $.currentPage.RelPermalink .URL }}[ current ]{{ end }}" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
            {{ if .HasChildren }}
            <button popovertarget="submenu_{{ .Weight }}" class="[ submenu--trigger down-arrow ][ flex middle ]">
              {{- readFile "static/icons/down-arrow.svg" | safeHTML }}
            </button>
            {{ end }}
          {{ if .HasChildren }}
          <ul id="submenu_{{ .Weight }}" popover class="[ submenu ]">
            {{ range .Children }}
            <li class="[ submenu__item ]">
              <a class="[ submenu__link ][ block no-wrap py--1 ]" href="{{ .URL }}" data-prefetch>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      {{end}}
      </ul>
    </nav>
  </div>
</header>