{{/* services.html (partial or section) */}}

{{/* Prefer page params; fall back to site params */}}
{{- $svc := .Params.services -}}
{{- if not $svc -}}
  {{- $svc = .Site.Params.services -}}
{{- end -}}

{{- with $svc }}
<section class="[ grid layout--spacing section--padding ]" aria-labelledby="services-heading">
  <h2 id="services-heading" class="[ flex flex--column center ]">
    <span class="[ font--5 text--center upper clever--blue ]">{{ .headline }}</span>
  <span class="[ text--center ]">{{ .subhead }}</span>
  </h2>

  <ul class="[ services ][ grid  row-gap--2 col-gap--2 lg:col-gap--4 ]">
    {{- range $i, $item := .items }}
      {{- $isPrimary := eq $item.key "web-design" -}}
      <li class="{{ if $isPrimary }}[ service--primary ][ flex flex--column center middle gap--2 text--center p--2 r--15 ]{{ else }}[ service service--{{ $i }} ][ flex flex--column lg:flex--row center lg:middle col-gap--1.5 row-gap--2 ]{{ end }}">
        <div class="[ o--2 ]">
          <h3{{ if $isPrimary }} class="[ flex center ]"{{ end }}>
            <a class="[ service__link ][ flex middle col-gap--0.25 ]" href="{{ $item.href }}" data-prefetch>{{ $item.title }}</a>
          </h3>
          <p>{{ $item.blurb }}</p>

          {{/* Primary gets the full button; others get a subtle text CTA if provided */}}
          {{- if $isPrimary -}}
            {{- partial "buttons/cta.html" (dict "url" $item.href "text" $item.cta) -}}
          {{- end }}
        </div>

        <div class="[ o--1 ]">
          {{/* Map service keys to SVG icons */}}
          {{- $iconMap := dict
              "web-design"        "static/icons/responsive-web-design.svg"
              "seo"               "static/icons/seo.svg"
              "digital-marketing" "static/icons/marketing.svg"
              "maintenance"       "static/icons/customizable-websites.svg"
            -}}
          {{- $iconPath := index $iconMap $item.key | default "static/icons/placeholder.svg" -}}
          {{- readFile $iconPath | safeHTML -}}
        </div>
      </li>
    {{- end }}
  </ul>
</section>
{{- end }}
