{{- $placeId := site.Params.google.place_id -}}
{{- $apiKey  := site.Params.google.api_key -}}

{{- $url := printf "https://maps.googleapis.com/maps/api/place/details/json?place_id=%s&fields=name,rating,reviews,user_ratings_total&key=%s" (urlquery $placeId) (urlquery $apiKey) -}}
{{ $remote := resources.GetRemote $url }}
{{ $json := $remote.Content | transform.Unmarshal }}

{{ $all := slice }}
{{ range $json.result.reviews }}
  {{ if and (ge .rating 4) (ne .text "") }}
    {{ $all = $all | append . }}
  {{ end }}
{{ end }}
{{ if gt (len $all) 0 }}
<section class="[ full-width content-grid section--padding layout--spacing bg:blue--50 ]">
  <h2 class="[ flex flex--column ]">
    <span class="[ font--5 text--center upper clever--blue ]">Real People, Real Reviews</span>
    <span class="[ merriweather font--2 text--center ]">What Our Clients Are Saying</span>
  </h2>
  {{ $shuffled := shuffle $all }}
  {{ $limited := first 4 $shuffled }}
  <ul class="[ reviews ][ grid md:col--2 lg:col--3 gap--1 ]">
    {{ range $limited }}
    <li class="[ review ][ grid px--1 py--3 r--10 ]">
      <blockquote class="[ grid ]">
        <div>
          <div class="[ quote ][ mb--1 ]">
            {{ readFile "static/icons/quote.svg" | safeHTML }}
          </div>  
          {{ if gt (len .text) 150 }}
          {{ $clip := substr .text 0 150 }}
          {{ $words := findRE ".*\\s" $clip }}
          {{ $clean := "" }}
          {{ if gt (len $words) 0 }}
            {{ $clean = index $words 0 }}
          {{ else }}
            {{ $clean = $clip }}
          {{ end }}
          {{ $clean = replaceRE "[.!?]+$" "" $clean }}
          <p>{{ $clean }} [...]</p>
          {{ else }}
            <p>{{ .text }}</p>
          {{ end }}
        </div>
        <footer class="[ reviewer ]">
            <div class="stars">
              {{- $fullStars := int .rating -}}
              {{- $emptyStars := sub 5 $fullStars -}}
              {{- range seq $fullStars -}}★{{- end -}}
              {{- range seq $emptyStars -}}☆{{- end -}}
            </div>  
            <cite class="[ flex flex--column pb--0.25 ]">
              <span class="[ font--600 ]">{{ .author_name }}</span>
            </cite>
        </footer>
      </blockquote>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}


{{/* 
<div>
  {{ $json.result.reviews | jsonify (dict "indent" "  ") }}
</div>
*/}}
